@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --dark-grey: #071427;
  --accent-01 : #C6E8AA;
  --accent-02 : #2CC7E1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.interactive-input-color:checked + label {
  background-color: var(--accent-01);
  color: var(--dark-grey);
}

.interactive-input-grey:checked + label {
  background-color: var(--dark-grey);
  color: var(--accent-02);
}

.interactive-check-done:checked + label > div {
  background-color: var(--accent-01);
}

#single-goal-card:has(div > .interactive-goals:checked) > .details-goals {
  display: block;
}