@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */

    --accentColor: #C6E8AA ;
    --secondColor: #2CC7E1; 
    --thirdColor: #CCBED7 ; 

    --darkGrey: hsl(216, 70%, 9%) ;
    --darkGreyLowOpacity: hsl(216, 70%, 9%, 0.7) ;
    --mediumGrey: #22324C;
    --lightGrey: #7B889D ;
    --neutralWhite: #EDFAFF;

    --gradientBg: linear-gradient(180deg, var(--darkGrey) 0%, var(--mediumGrey) 40%);
  }
}

body {
  color: var(--neutralWhite);
  background: var(--gradientBg);
  font-family: var(--font-main);
}

.main-font {
  font-family: var(--font-main);
}

.secondary-font {
  font-family: var(--font-secondary);
}
